<br>
<h4>Avatar / Tabla</h4>
<br>
<table class="table">
  <thead >
    <tr>
      <th class="text-center">Avatar</th>
      <th class="">Nombre</th>
      <th class="">Telefono</th>
      <th class="">Sexo</th>
      <th class="">Correo</th>

    </tr>
  </thead>
  <tbody *ngFor="let Avatar of Avatars" >
    <tr >
      <td ><span class="{{Avatar.icon}} fa-2x"></span></td>
      <td>{{Avatar.nombre}}</td>
      <td>{{Avatar.telefono}}</td>
      <td>{{Avatar.sexo}}</td>
      <td>{{Avatar.correo}}</td>
    </tr>
  </tbody>
</table>