<div class="row" style="margin: 0;"> 
 
  <div class="col-md-4 contenedor-left">
    <div class="col-md-12">
        <br>
        <h1 class="Title text-center">Avatar</h1>
        <hr>
        <form #avatarForm="ngForm" (ngSubmit)="onSubmit(avatarForm)"> 
          <div class="row">
              <div class="form-group col-md-6" >
                  <label >Nombre</label>
                  <input matInput  [(ngModel)]="nombre" required maxlength="15" name="nombre" type="text" class="form-control"  placeholder="Ejem:Doringuen" >
                  <!-- <div *ngIf="nombre.error.required">
                      <p>Error</p>
                  </div> -->
                </div>
                <div class="form-group col-md-6">
                  <label >Telefono</label>
                  <input [(ngModel)]="telefono" inputmode="numeric"  required name="telefono" type="number" class="form-control" placeholder="87:4546515">
                </div>
          </div>
          
          <div class="row">
              <div class="form-group col-md-3" >
                  <label >Sexo</label>
                  <select class="form-control"[(ngModel)]="sexo" required name="sexo" placeholder="M/F">
                    <option>M</option>
                    <option>F</option>           
                  </select>
                </div>
                <div class="form-group col-md-9">
                  <label >Direccion</label>
                  <input [(ngModel)]="direccion" required name="direccion" type="text" class="form-control" placeholder="Ejemp:Colonia 245">
                </div>
          </div>
          <br>
          <hr>
          <div class="row">
              <div class="form-group col-md-6" >
                  <label >Correo</label>
                  <input [(ngModel)]="correo" required email name="correo" type="text" class="form-control"  placeholder="@hotmail.com">
                </div>
                <div class="form-group col-md-6">
                  <label >Estado</label>
                  <input [(ngModel)]="ciudad" required  name="ciudad" type="text" class="form-control" placeholder="Ejemp:Mexico">
                  <!-- <div *ngIf="avatarForm.submitted && avatarForm.invalid" class="">
                    <div *nfIf="correo.errors.required">
                      <p>Error con el email</p>
                    </div>
                  </div> -->
                </div>
          </div>
          <hr>
          <div class="row">
              <div class="avatar " >
                  <div class="circulo"  [@cambioForma]="estado" (click)="SeleccionarIcon()">
                      <span class="icon center fa fa-magnet fa-5x"></span>
                  </div>           
                </div>
           </div>
           <br>
           <hr>
          <div class="row">
            <div class=" col-md-12">
                <div class="rigth"> 
                    <button [disabled]="avatarForm.invalid" type="submit" class="btn btn-primary  btn-lg btn-block">Agregar</button>
                  </div>
            </div>       
          </div>
       
        </form>
       
     
  
    </div>
    </div>


  <div class="col-md-8 contenedor-rigth">
    <app-mostrar [Servicio]="SAvatarService"></app-mostrar>

  </div>
</div>




