
.rigth{
    float: center;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 5rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}
.avatar{
    height: 15vh;
    width: 80vh;
    margin: auto;
    padding:auto;
}
.circulo{
    text-align: center;
    margin: auto;
    border-radius:5%;
    height: 15vh;
    width: 10vh;
    background-color: #b9b9b9;
}
.center{
    padding-top: 25%;
    padding-bottom: 25%;
}
.circulo:hover{
    cursor: pointer;
    background-color: #717171;

}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-transform: uppercase;
}
.carta{
    background-color: #495057;
    height: 96vh;
    width:100%;
    margin: 0;
    padding: 0;
}
.contenedor-left{
    height: 94vh;
    background-color:#f9f9f9;
    border-right: 3px solid #dadada;
}
.contenedor-rigth{
    overflow-y: scroll;
}